<%= form_for(@book_like) do |f| %>
  <% if @book_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_like.errors.count, "error") %> prohibited this book_like from being saved:</h2>

      <ul>
      <% @book_like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
