<h1>Listing book_likes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_likes.each do |book_like| %>
      <tr>
        <td><%= book_like.user_id %></td>
        <td><%= book_like.book_id %></td>
        <td><%= link_to 'Show', book_like %></td>
        <td><%= link_to 'Edit', edit_book_like_path(book_like) %></td>
        <td><%= link_to 'Destroy', book_like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book like', new_book_like_path %>
