<div class="column">
  <ul class="books-grid no-bullet row">
    <% @recommendations.each do |book| %>
      <li class="large-3 medium-4 small-12 column left">
        <div class="book-card padly">
          <%= link_to book, class: "poster" do %>
            <%= image_tag book.poster %>
          <% end %>
          <div class="book-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= book.title %> <span>(<%= book.release_year %>)</span></h6>
            </div>
            <p class="left price label book-label radius">$ <%= book.price %></p>
            <%= link_to book.isbn, class: "right" do %>
              <%= image_tag asset_path("isbn_logo.png") %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>