<div class="large-3 small-12 column">
  <%=image_tag @book.poster%>
</div>
<div class="large-9 small-12 column">
  <h3>
    <%= @book.title %>
    (<%= @book.release_year %>)
    <%=link_to @book.isbn do%>
      <%=image_tag asset_path("isbn_logo.png")%>
    <%end%>
  </h3>
  <p class="label book-label radius mb1">$ <%= @book.price %></p>

  <p><%= @book.description %></p>

  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@book), removeUrl: remove_from_cart_path(@book)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>
</div>
