<%= form_for(@shared_book) do |f| %>
  <% if @shared_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shared_book.errors.count, "error") %> prohibited this shared_book from being saved:</h2>

      <ul>
      <% @shared_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row padly">  
    <div class="field large-4 small-8 column">
      <%= f.label :credit_price %><br>
      <%= f.number_field :credit_price, placeholder: "Credit price" %>
    </div>
  </div>
  <div class="row padly">
    <div class="field large-4 small-8 column">
      <%= f.label "Upload a photo" %>
      <br>
      <%= f.file_field :shared_book_image %>
    </div>
  </div>
  <%= f.hidden_field :book_id %>
  <div class="row padly">
    <div class="actions large-3 small-6 column">
      <%= f.submit "Create", :class => "button" %>
    </div>
  </div>
<% end %>
