<div class="row padly">
  <div class="small-6 column left padly">
    <%= image_tag avatar_url(@user) %>
    <%= link_to @user.email, user_shared_books_path(@user.id) %>
    <h5>
      Shared Books
    </h5>
  </div>
  <div class="small-6 column right padly">
    <%= render 'layouts/stats' %>
    <%= render 'users/follow_form' %>
  </div>
</div>

<div class="row padly">

<div class="large-3 small-12 column">
    <%= link_to @shared_book.shared_book_image_url.to_s, class: "poster" do %>
      <%= image_tag @shared_book.shared_book_image_url(:thumb).to_s %>
    <%end%>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @book.title %>
    (<%= @book.release_year %>)
    <%=link_to @book.isbn do%>
      <%=image_tag asset_path("isbn_logo.png")%>
    <%end%>
  </h3>
  <p class="label book-label radius mb1">$ <%= @book.price %></p>

  <p style="color:white;"><%= @book.description %></p>

  <%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@shared_book), removeUrl: remove_from_cart_path(@shared_book)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
    <%end%>
  <%end%>
</div>

</div>

<div class="row padly">
<%= commontator_thread(@shared_book) %>
</div>