<div class="row">
  <nav class="top-bar column" data-topbar>

    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <i class="fi-book"></i> BookHive
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <%if signed_in?%>
          <%comment do%>
          <li>
            <%=link_to "Users", users_path%>
          </li>
          <li>
            <%=link_to "Share", user_shared_books_path(current_user.id)%>
          </li>
          <li>
            <%=link_to "Recommendations", recommendations_path()%>
          </li>
          <%end%>
          <li>
            <%= link_to 'Your Conversations', conversations_path %>
          </li>
          <li>
            <%= link_to cart_path do%>
              <i class="fi-shopping-cart"></i> My Cart (<span class="cart-count"><%=current_user.cart_count%></span>)
            <%end%>
          </li>
          <li><%=link_to current_user.email, edit_user_registration_path%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Register", new_user_registration_path%></li>
          <li><%=link_to "Login", new_user_session_path%></li>
        <%end%>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
          <%= yield(:simple) %>
          </div>
        </li>
      </ul>

    </section>

  </nav>
</div>
